.contrainer {
  position: relative;
}

.pelota {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid #ff3c3c4b;
  border-top-color: #ff3c3c;
  display: block;
  animation: spin 1.5s linear infinite;
}

.pelota2 {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid #ff3c3c4b;
  border-top-color: #ff3c3c;
  display: block;
  animation: spin 1.5s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
